/* You can add global styles to this file, and also import other style files */
:root {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}